include LICENSE
include NOTICE
include README.md
recursive-include easyeda2kicad_digimou/schemas *.json

prune devtools
prune tests

global-exclude tags
global-exclude *.swp

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude .bumpversion.cfg
exclude .coveragerc
exclude tox.ini
exclude .travis.yml
