include LICENSE
include NOTICE
include README.md
include easyeda2kicad/schemas/machine-result-v1.schema.json

prune devtools
prune tests

global-exclude tags
global-exclude *.swp

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude .bumpversion.cfg
exclude .coveragerc
exclude tox.ini
exclude .travis.yml
